<h1><%= title %></h1>

<p>Dates First</p>
<ul>
<% for(var i=0; i < items.length; i++) {
   var grade = items[i] %>
   <li><%= grade.date %></li>
<% } %>
</ul>

<!-- Example
{"id":"68ed2c9f8457e4054ac82f756d5ea541","key":"2012-02-01",
 "value": {"_id":"68ed2c9f8457e4054ac82f756d5ea541",
           "_rev":"1-f1bd42e707e23ad4563cca8481f15e7c","type":"score",
           "topic":"Section 8.1","assessment":"homework",
           "score":"100","notes":"","date":"2012-02-01"}}
-->
<div id="grades">
<p>Data Table</p>
<table class="all">
<col class="date">
<col class="assessment">
<col class="details_link">
<col class="score">
<col class="weight">
<col class="weighted_score">
<tr>
    <th>Date</th>
    <th>Assessment</th>
    <th>Details</th>
    <th>Score</th>
    <th>Weight</th>
    <th>Weighted Score</th>
</tr>
<% for(var i=0; i < items.length; i++) {
   var grade = items[i] %>
<tr>
    <td class="date"><%= grade.date %></td>
    <td class="assessment"><%= grade.assessment %></td>
    <td class="grade detail"><a href="/grades/<%= grade._id %>">Details</a></td>
    <td class="score"><%= grade.score %></td>
    <td class="weight"><%= grade.weight %></td>
    <td class="weighted_score"><%= grade.weighted_score %></td>
</tr>
<% } %>
</table>

<br clear="all">

<div id="data_doc"></div>